<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form class="form-signin" method="post">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <h2 class="form-signin-heading">Please sign in</h2>

        <div th:if="${logout}">
            <div class="alert alert-info" role="alert">You've been logged out successfully.</div>
        </div>
        <div th:if="${error}">
            <div class="alert alert-danger" role="alert">Invalid Username or Password!</div>
        </div>

        <label for="Email"></label>
        <input type="text" id="Email" name="email" class="form-control" placeholder="Email address" required=""
               autofocus="">

        <label for="password"></label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required=""/>
        <div class="d-grid gap-2">
            <button class="btn  btn-primary btn-block" type="submit">Sign in</button>
        </div>

    </form>
</div>
</body>
</html>